/** postcss-bem-linter: define main-component; weak */
.hidden {
  display: none;
}

.root-jsonedit {
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 20px;
  background-color: #FFE;
  border: 1px solid #333;
  border-radius: 5px;
  position: relative;
  overflow-x: scroll;
}

.root-jsonedit .inline-brace {
  display: inline-block;
}

.root-jsonedit > ul[data-type] > li {
  margin-left: 45px;
}

.root-jsonedit .creator {
  position: absolute;
  top: 3px;
  left: 35px;
  cursor: pointer;
  font-size: 12px;
  color: #999;
  display: none;
}

.root-jsonedit .creator:hover {
  color: #05d00e;
}

.root-jsonedit .collapser {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 8px;
  height: 8px;
  border: 1px solid #666;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.root-jsonedit .collapser::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  z-index: 1;
  position: absolute;
}

.root-jsonedit > .collapser {
  top: 22px;
  left: 10px;
}

.root-jsonedit > .title-root {
  position: absolute;
  top: 17px;
  left: 20px;
}

.root-jsonedit [data-collapsed="false"] .collapser::after, .root-jsonedit[data-collapsed="false"] .collapser::after {
  content: "-";
}

.root-jsonedit [data-collapsed="true"] > .json-value > li, .root-jsonedit[data-collapsed="true"] > .json-value > li {
  display: none;
}

.root-jsonedit [data-collapsed="true"] .collapser::after, .root-jsonedit[data-collapsed="true"] .collapser::after {
  content: "+";
}

.root-jsonedit [data-collapsed].complex.array > .json-value::before {
  content: "[]";
  display: block;
}

.root-jsonedit [data-collapsed].complex.object > .json-value::before {
  content: "{}";
  display: block;
}

.root-jsonedit ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  position: relative;
}

.root-jsonedit ul li[data-type]::after, .root-jsonedit ul li.complex::after {
  content: '';
  width: 45px;
  height: 1px;
  display: block;
  position: absolute;
  top: 9px;
  left: -50px;
  border-bottom: 1px dotted #444;
}

.root-jsonedit ul li[data-type]::before, .root-jsonedit ul li.complex::before {
  content: '';
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 10px;
  left: -50px;
  border-left: 1px dotted #444;
}

.root-jsonedit ul li[data-type]:last-of-type::before, .root-jsonedit ul li.complex:last-of-type::before {
  border-left: none;
}

.root-jsonedit ul li[data-type]:first-of-type::before, .root-jsonedit ul li.complex:first-of-type::before {
  top: 0px;
  height: calc(100% + 10px);
}

.root-jsonedit ul li[data-type]:only-of-type::before, .root-jsonedit ul li.complex:only-of-type::before {
  top: 0px;
  height: 10px;
  border-left: 1px dotted #444;
}

.root-jsonedit ul li {
  margin-left: 45px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.root-jsonedit ul li .json-key-container {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}

.root-jsonedit ul li .json-value {
  padding-left: 10px;
  position: relative;
}

.root-jsonedit ul li .json-value:hover > .collapser {
  display: block;
}

.root-jsonedit ul li .json-value:hover > .creator {
  display: inline;
}

.root-jsonedit ul li .json-value .act-value[contenteditable="true"]:focus {
  outline: 2px dashed lightblue;
  border-radius: 2px;
}

.root-jsonedit ul li .json-value li .json-value, .root-jsonedit ul li .json-value li li[data-type] {
  position: relative;
}

.root-jsonedit ul li .json-value li .json-value > .remove-value, .root-jsonedit ul li .json-value li li[data-type] > .remove-value {
  display: inline;
  display: none;
  opacity: 0.4;
}

.root-jsonedit ul li .json-value li .json-value > .remove-value:hover, .root-jsonedit ul li .json-value li li[data-type] > .remove-value:hover {
  opacity: 1;
}

.root-jsonedit ul li .json-value li .json-value > .remove-value.complex-value, .root-jsonedit ul li .json-value li li[data-type] > .remove-value.complex-value {
  position: absolute;
  top: 0;
  right: 0;
}

.root-jsonedit ul li .json-value li .json-value:hover > .remove-value, .root-jsonedit ul li .json-value li li[data-type]:hover > .remove-value {
  display: block;
  cursor: pointer;
}

.root-jsonedit ul li span {
  display: inline;
  vertical-align: top;
}

.root-jsonedit ul li .json-key-container + ul, .root-jsonedit ul li span + ul {
  display: inline-block;
  vertical-align: top;
}

.root-jsonedit ul li .json-key {
  color: crimson;
  cursor: default;
}

.root-jsonedit ul li[data-type="boolean"] .json-value .act-value {
  color: orange;
}

.root-jsonedit ul li[data-type="number"] .json-value .act-value {
  color: blue;
}

.root-jsonedit ul li[data-type="string"] .json-value .act-value {
  color: green;
}

.root-jsonedit ul li[data-type="string"] .json-value .act-value::before {
  content: '"';
}

.root-jsonedit ul li[data-type="string"] .json-value .act-value::after {
  content: '"';
}

.root-jsonedit .adder-host {
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 25px;
  background-color: #fef;
}

.root-jsonedit .adder-host .adder-body {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.root-jsonedit .adder-host .adder-body .input-container, .root-jsonedit .adder-host .adder-body .select-type, .root-jsonedit .adder-host .adder-body .apply {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

.root-jsonedit .adder-host .adder-body .input-container {
  width: 50%;
}

.root-jsonedit .adder-host .adder-body .select-type {
  width: 30%;
}

.main-component__title {
  color: #042;
}

/** postcss-bem-linter: define utilities */
.u-ellipsis {
  color: #042;
}

/*# sourceMappingURL=app.css.map*/